/* Кроссбраузерный Font-face. Подключение шрифтов с домена сайта:

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/pts55f-webfont.eot");
  src: local("PT Sans"), local("PTSans-Regular"),
       url("../fonts/pts55f-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/pts55f-webfont.woff2") format("woff2"),
       url("../fonts/pts55f-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "PT Sans bold";
  src: url("../fonts/pts75f-webfont.eot");
  src: local("PT Sans bold"), local("PTSans-Regular")
       url("../fonts/pts75f-webfont.eot?#iefix") format("embedded-opentype"),
       url("../fonts/pts75f-webfont.woff2") format("woff2"),
       url("../fonts/pts75f-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

} */


body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #ffffff;
}

/* Шапка с меню */

.site-menu {
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.menu-button {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.menu-button:hover {
  color: #81b3d2;
}

.menu-button:active {
  color: #b2b2b2;
}

/* Блок: INTRO */

.intro {
  background:
    url("../img/svg/intro-mask.svg") no-repeat 0 calc(100% - 214px), /* Маска */
    url("../img/background-photo.jpg") no-repeat;
}

.intro-text {
  background-color:#ffffff;
  text-transform: uppercase;
}

.intro h1 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.intro h2 {
  font-size: 14px;
  line-height: 26px;
}

/* Блок: Список преимуществ */

.features-main-list {
  list-style: none;
  text-transform: uppercase;
}

.feature-item-header,
.features-extra-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;

  color: #000000;
}
.feature-item-blue .feature-item-header {
  color: #ffffff;
}

.feature-item-blue {
  background-color: #81b3d2;
  color: #ffffff;
}

.feature-item-grey {
  background-color: #eeeeee;
}

/* Вложенный список с дополнительными преимущуствами */

.features-extra-list {
  list-style: none;
}

.features-extra-list p {
  color: #333333;
}

.house {
  background: white url("../img/svg/icon-1.svg") no-repeat 50%;
}

.food {
  background: white url("../img/svg/icon-3.svg") no-repeat 50%;
}

.gifts {
  background: white url("../img/svg/icon-2.svg") no-repeat 50%;
}

/* Лид и кнопка поиска, вызывающая попап */

.booking {
  text-transform: uppercase;
  background-color: #ffffff;
}

.booking-lead {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.booking-text {
  line-height: 24px;
}

.booking-search-button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.booking-search-button:hover {
  background-color: #604e43;
}

.booking-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/* Всплывающее окно "форма поиска" */
.booking-popup {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  /* text-align: left; */
}

.booking-popup input {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}

.booking-popup input::placeholder {
  color: #000000;
}

.booking-popup input:hover {
  /* font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #000000; */
  background-color: #ebebeb;
}

.booking-popup input:focus {
  background-color: #ffffff;
  outline: 2px solid #ebebeb;
}

.popap-submit-button {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
}

.popap-submit-button:hover {
  background-color: #669ec0;
}

.popap-submit-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

/* Футер */
.site-footer {
  background-color: #ffffff;
  opacity: 0.9;
  text-transform: uppercase;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  font-weight: bold;
  color: #000000;

  margin: 0px;
}

.copyright {
  text-align: right;
  font-weight: bold;
  line-height: 26px;
}

.social-links{
  list-style: none;
}

.social-link {
  background-color: #81b3d2;
}

.social-link:hover {
  background-color: #669ec0;
}

.social-link:active {
  background-color: #5496bd;
}

.twitter {
  background: #81b3d2 url("../img/svg/twitter.svg") no-repeat 50%;
  background-size: cover;
}

.youtube{
  background-image: #81b3d2 url("../img/svg/youtube.svg") no-repeat 50%;
}

.facebook {
  background-image: #81b3d2 url("../img/svg/fb-icon.svg") no-repeat 50%;
}

.copyright-logo {
  fill: #231f20;
}

.copyright-logo:hover {
  fill: #81b3d2;
}

.copyright-logo:active {
  fill: #bdbbbc;
}

/* --------------------- catalog.html---------------------------- */


.catalog-page {
  text-align: left;
}

.active {
  color: #766357;
}

/* Фильтры */

.searching-filters {
  text-transform: uppercase;
  color: #ffffff;
  background: #81b3d2 url(../img/filter-background.jpg) no-repeat 50%;
}

.filter-legend {
  font-size: 16px;
  font-weight: bold;
}

.filters-submit-button {
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.filters-submit-button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

/* Сортировка */

.sorting {
  text-transform: uppercase;
  background-color: #ffffff;
}
.sorting-type {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.quantity {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting-type-on {
  color: #81b3d2;
}

.sorting-type-off {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed;
}

.sorting-type-off:hover {
  color: #81b3d2;
  border-bottom: 1px dashed;
}

.sorting-type-off:active {
  color: #000000;
  border-bottom: none;
}

.sorting-direction {
  list-style: none;
}

/* Результаты поиска */

.hotels-list li{
  list-style: none;
  text-transform: uppercase;
  background-color: #ffffff;
}

.hotels-list h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.hotel-name {
  color: #000000;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
 color: rgba(0, 0, 0, 0.3);
}

.rating {
 background-color: #f2f2f2;
 color: #666666;
}

.info-button {
  font-weight: bold;
  background-color: #81b3d2;
  color: #ffffff;
}

.info-button:hover {
  background-color: #669ec0;
}

.info-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.booking-button {
  font-weight: bold;
  background-color: #766357;
  color: #ffffff;
}

.booking-button:hover {
  background-color: #604e43;
}

.booking-button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-footer {
  background-color: #ffffff;
}


/* --------------------- Сетка ---------------------------- */
body {
  min-width: 1200px;

}

.page-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  /* может имеет смысл все крупные блоки сделать флекс элементами?
  display: flex;
  flex-direction: column;
  justify-content: flex-start; */
}

.main-header {
  min-height: 56px;
  border: 1px solid green;
}

.site-navigation {
  margin: 0px;
  padding: 0px;
}
/* временно */
.site-navigation li {
  outline: 1px solid green;
}

.header-logo {
  position: absolute;
  left: calc(50% - 70px);
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.intro {
  outline: 1px solid rgb(251, 5, 239); /*временно*/
   min-height: 508px; /*временно*/
   padding-bottom: 1px;
}

.intro-text h1,
.intro-text h2{
  margin: 0px; /*чтобы избежать выбадения маргинов снизу*/
}

.intro-logo {
  margin-top: 76px;
}

.intro-text {
  margin-top: 80px;
  min-height: 216px; /*временно*/
}

/* Основной список преимуществ - главный флекс контейнер */

.features-main-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features {
  outline: 1px solid red; /*временно*/
}
.feature-item {
  outline: 1px solid blue; /*временно*/
}
.features-extra-list-item {
  outline: 1px solid green; /*временно*/
}

.features-main-list,
.features-extra-list {
  margin: 0px;
  padding: 0px;
}

.feature-item {
  min-height: 256px;
  min-width: 400px;
}

/* Элемент №1 №2 - тоже делаю флекс контейнерами */
.city-item,
.bridge-item {
  width: 1200px;
  display: inline-flex;
}

.city-item .feature-item-textbox,
.bridge-item .feature-item-textbox {
  width: 400px;
  height: 256px; /*временно*/
}

.city-item .feature-item-image,
.bridge-item .feature-item-image {
 flex-grow: 1;
}


/* Вложенный список преимуществ тоже флекс контейнер */

.features-extra-list {
  display: inline-flex;
  justify-content: space-between;
}

.features-extra-list-item {
  min-height: 330px; /*временно*/
}

.booking {
  min-height: 290px; /*временно*/
  padding-top: 1px; /*от выпадения маргинов*/
}

.booking-popup {
  display: none;
}

.site-footer {
  outline: 1px solid red; /*временно*/

  display: inline-flex;
  min-height: 120px;
  justify-content: center;
  align-items: stretch;

  position: absolute;
  top: calc(100% - 120px);
  left: 0px;


}

.social-links {
  margin: 0px;
  padding: 0px;
}

.hashtag,
.social-links,
.copyright {
  outline: 1px solid green; /*временно*/
  width: 400px;
}
