/* Кроссбраузерный Font-face. Подключение шрифтов с домена сайта:

@font-face {
  font-family: 'PT Sans';
  src: url('../fonts/pts55f-webfont.eot');
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pts55f-webfont.woff2') format('woff2'),
       url('../fonts/pts55f-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'PT Sans bold';
  src: url('../fonts/pts75f-webfont.eot');
  src: local('PT Sans bold'), local('PTSans-Regular')
       url('../fonts/pts75f-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pts75f-webfont.woff2') format('woff2'),
       url('../fonts/pts75f-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

} */


body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  text-align: center;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.site-navigation {
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  color: #000000;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover{
  color: #81b3d2;
}

.site-navigation a:active{
  color: #b2b2b2;
}

.banner {
  background:
    url("../img/svg/intro-mask.svg") no-repeat,
    url("../img/background-photo.jpg") no-repeat;
}

.intro h1{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  background-color:#ffffff;
}

.intro h2{
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  background-color: #ffffff;
}

.feature-list1 li{
  list-style: none;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.feature-list1 h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.feature-item-textbox {
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
}


.feature-list2{
  list-style: none;
}

.feature-list2 h3 {
  font-size: 21px;
  font-weight: bold;
}

.feature-list2 .house {
  background: white url("../img/svg/icon-1.svg") no-repeat 50%;
}

.feature-list2 .food {
  background: white url("../img/svg/icon-3.svg") no-repeat 50%;
}

.feature-list2 .gifts {
  background: white url("../img/svg/icon-2.svg") no-repeat 50%;
}

.booking {
  text-transform: uppercase;
}

/* .booking a{
  color: #ffffff;
} */

.booking-lead{
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
}

a.booking-search-button {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #ffffff;
  background-color: #766357;
}

.booking-popup {
  display: none;
}
/* .booking-popup label {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: left;
}

.booking-popup .button {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
} */

.site-footer {
  font-size: 21px;
  line-height: 26px;
}

p.hashtag {
  text-align: left;
  font-weight: bold;
}

.copyright p{
  text-align: right;
}

.sociallinks {
  list-style: none;
  background-color: #81b3d2;
}

li.twitter {
  background: #81b3d2 url("../img/svg/twitter.svg") no-repeat 50%;

}

li.youtube{
  background-image: #81b3d2 url("../img/svg/youtube.svg") no-repeat 50%;
}

li.facebook {
  background-image: #81b3d2 url("../img/svg/fb-icon.svg") no-repeat 50%;
}
